
    <div style="background-color: tomato;">
        <table class="table table-hover">
          <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Address</th>
                <th scope="col">Email</th>
                <th scope="col">Pincode</th>
                <th scope="col">Total</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of order">
                    <th scope="row" >
                            {{item.orderId}}
                    </th>
                    <td>
                            {{item.address}}
                    </td>
                    <td>
                            {{item.email}}
                    </td>
                    <td>
                            {{item.pincode}}
                    </td>
                    <td>
                            {{item.total}}
                    </td>
                  </tr>
              </tbody>
          </table>
        <hr/>  
      </div>


