.text
{
    
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color:rgba(80, 255, 217, 0.699);
        font-variant-east-asian: ruby;
        background-color: black;
    
}