
    <div class="jumbotron" style="background-color:tomato;">
      <div class="row">
        <div class="col">
          <picture >
            <img width="500" height="500" class="img-thumbnail" [src]="restaurant.image"/>
          </picture>
        </div>
        <div class="col" style="background-color:rgba(80, 255, 217, 0.699);; color: black;">
          <h1 class="display-1">
              {{restaurant.name}}
          </h1>
          <p class="lead">{{restaurant.description}}.</p>
          <p class="lead">{{restaurant.speciality}}.</p>
          <hr class="my-4">
          <p class="lead">
            <strong>
              Address:
            </strong>
            {{restaurant.address}}, {{restaurant.city}}, {{restaurant.state}}
          </p>
        </div>
      </div>     
    </div>
    <div class="row container">
      <div class="col-5">
        <button class="nav-link dropdown-toggle btn btn-info" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort
        </button>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item btn btn-info" (click)="sortByPrice()"><h5>Sort By Price(Low to High)</h5></button>
            <button class="dropdown-item btn btn-info" (click)="sortByPriceDsc()"><h5>Sort By Price(High to Low)</h5></button>
            <button class="dropdown-item btn btn-info" (click)="sortByPrice()"><h5>Sort By Name(Z to A)</h5></button>
            <button class="dropdown-item btn btn-info" (click)="sortByPriceDsc()"><h5>Sort By Name(A to Z)</h5></button>
          </div>
      </div>
    <div class="col">
      <div class="form-group" style="float: right;">
        <input id="name" [(ngModel)]="name" placeholder="Search the Dish"/>
      </div>
      </div>
   </div>
    <div class="container-xl">
      <div class="row">
        <div class="col">
        <div *ngFor="let resfood of food | filter:name">
            <app-menu [foodItem]="resfood"></app-menu>
        </div>
        </div>
        <div class="col" style="float: right;">
          <app-cart></app-cart>
        </div>
      </div>
    </div>
