<div class="row container-xl">
    <div class="col-5">
      <button class="nav-link dropdown-toggle btn btn-info" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Sort
      </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <button class="dropdown-item btn btn-info" (click)="sortByName()"><h5>Sort By Name(A to Z)</h5></button>
          <button class="dropdown-item btn btn-info" (click)="sortByNameDsc()"><h5>Sort By Name(Z to A)</h5></button>
          <button class="dropdown-item btn btn-info" (click)="sortByCity()"><h5>Sort By City(A to Z)</h5></button>
          <button class="dropdown-item btn btn-info" (click)="sortByCityDsc()"><h5>Sort By City(Z to A)</h5></button>
          <button class="dropdown-item btn btn-info" (click)="sortByState()"><h5>Sort By State(A to A)</h5></button>
          <button class="dropdown-item btn btn-info" (click)="sortByStateDsc()"><h5>Sort By State(Z to A)</h5></button>
        </div>
    </div>
  <div class="col">
    <div class="form-group" style="float: right;">
      <input id="name" [(ngModel)]="name" placeholder="Search the Restaurant" style="background-color:black ;color:blanchedalmond">
    </div>
    </div>
 </div>
<div class="row">
    <div class="col-md-3" *ngFor="let restaurant of restaurants | filter:name">
        <div class="card mb-4 shadow-sm" style="background-color: tomato;">
            <img class="bd-placeholder-img card-img-top p-2" width="200" height="250" [src]="restaurant.image"/> 
            <div class="card-header" style="color: black;">
              <h5 class="card-title" style="color: black;" >{{restaurant.name}}</h5>
            </div>
            <div class="card-body">
                <p class="card-text" style="color:black">
                    <strong>Speciality</strong>:{{restaurant.speciality | slice: 0:40}}...
                </p>
                <p class="card-text" style="color: black;">
                    <strong>City</strong>: {{restaurant.city}}</p>
                    <p class="card-text" style="color: black;">
                    <strong>State</strong>: {{restaurant.state}}
                </p>
              <a [routerLink]="['/details',restaurant.rid]" class="btn btn-primary stretched-link">View Menu</a>
              </div>
        </div>
    </div>
</div>